<ion-header>
  <ion-toolbar>
    <ion-title>Northbricks Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h4>Login Form</h4>
        </div>
        <div padding>
          <ion-item>
            <ion-input type="text" required placeholder="Username">tobias@northbricks.com</ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" required placeholder="Password"></ion-input>
          </ion-item>
        </div>

        <div padding>
          <ion-button size="large" (click)="login()" href="/touchid" expand="block">Login</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

        <div padding>
          <ion-button size="large" (click)="signup()" href="/touchid" expand="block">Signup</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

        <div padding>
          <ion-button size="large" (click)="loginNorthbricks()" href="/touchid" expand="block">loginNorthbricks</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

        <div padding>
          <ion-button size="large" (click)="bankAuthClick()" href="/touchid" expand="block">bankAuthClick</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>